<div class="wrapper">
    <div class="body">
        <img class ="logo" src ="../../../assets/img/iconologin.png" alt="login">
    <h1> Iniciar Sesion   </h1>
    <br>
    <br>
    <form>  
        <div class="form-floating mb-3">
            <input type="email" class="form-control"  placeholder="name@example.com">
            <label>Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control"  placeholder="Password">
            <label>Password</label>
          </div>    
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Login</button>
          </div>
          <p class="mt-3"> No tienes cuenta? <a routerLink="/registrar"> Registrar</a></p>
          <a routerLink="/recuperarPassword" class="mt-3" > Recuperar Contraseña</a>
    </form>
    </div>
</div>


